@page "/"
@inherits IndexCode

Customers:
<TestComponent Customers="Customers" SelectedCustomer="SelectedCustomer" CustomerSelectEvent="CustomerSelected"></TestComponent>


@if(SelectedCustomer != null)
{
    <br />
    <span class="mt-4 text-success">@SelectedCustomer.Name</span>

}