@page "/"
@inherits IndexCode

Customers:
<TestComponent Customers="Customers" 
               SelectedCustomer="SelectedCustomer" 
               CustomerSelectEvent="CustomerSelected"
               CustomerResetEvent="CustomerResetting"
               AddCustomerEvent="CustomerAdding"
               UpdateCustomerEvent="CustomerUpdating"
               DeleteCustomerEvent="CustomerDeleting"></TestComponent>


 

<p class="@MessageColor">@DisplayMessage</p>
